<template>
  <div class="flex flex-row">
    <div class="sideban">
      <Sidebar />
    </div>
    <div class="mn-content">
      <Nuxt />
    </div>
  </div>
</template>
<script>
import Sidebar from "~/components/navs/Sidebar";
export default {
  components: {
    Sidebar,
  },
};
</script>
<style scoped>
.sideban {
  width:260px;
}
</style>