<template>
  <div>
    {{ user }}awdawdawd
    <li>{{ name }}</li>
  </div>
</template>
<script>
export default {
  name: "dashboard",
  layout: "default",
  data() {
    return {
      user: this.$store.state.user,
      name: "namae nem nem nem",
    };
  },
};
</script>
<style>
div {

}
</style>