<template>
  <div class="limiter">
    <div class="container-login100" style="background-image: url('/bg-01.jpg')">
      <div class="wrap-login100 p-t-30 p-b-50">
        <span class="login100-form-title p-b-41"> Account Login </span>
        <form
          class="login100-form validate-form p-b-33 p-t-5"
          @submit.prevent="login"
        >
          <div
            class="wrap-input100 validate-input"
            data-validate="Enter username"
          >
            <input
              class="input100"
              type="text"
              name="email"
              placeholder="User name"
            />
            <span class="focus-input100" data-placeholder="User"></span>
          </div>

          <div
            class="wrap-input100 validate-input"
            data-validate="Enter password"
          >
            <input
              class="input100"
              type="password"
              name="password"
              placeholder="Password"       
            />
            <span class="focus-input100" data-placeholder="pass"></span>
          </div>

          <div class="container-login100-form-btn m-t-32">
            <button class="login100-form-btn">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'indexPage',
  layout: 'logging',
  data() {
    return {
      email: "",
      password: ""
    }
  },
  methods: {

    login(e){
      const {email, password} = Object.fromEntries(new FormData(e.target))
      this.email = email
      this.password = password
      console.log(email+" "+password)
      try {
        this.$store.dispatch('login', {
          email: this.email,
          password: this.password,
        });
        this.$router.push('/dashboard');
      } catch (error) {
        console.log('HAHAHA FAIL'+error);
      }
    }  
  },
};
</script>