<template>
  <div class="limiter">
    <div class="container-login100" style="background-image: url('/bg-01.jpg')">
      <div class="wrap-login100 p-t-30 p-b-50">
        <span class="login100-form-title p-b-41"> Account Login </span>
        <form
          class="login100-form validate-form p-b-33 p-t-5"
          @submit.prevent="login"
        >
          <div
            class="wrap-input100 validate-input"
            data-validate="Enter username"
          >
            <input
              class="input100"
              type="text"
              name="email"
              placeholder="User name"
              v-model="email"
            />
            <span class="focus-input100" data-placeholder="username"></span>
          </div>

          <div
            class="wrap-input100 validate-input"
            data-validate="Enter password"
          >
            <input
              class="input100"
              type="password"
              name="password"
              placeholder="Password"
              v-model="password"
            />
            <span class="focus-input100" data-placeholder="password"></span>
          </div>

          <div class="container-login100-form-btn m-t-32">
            <button class="login100-form-btn">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "login",

  data: {
      email: "",
      password: "",
      errors: "",
  },

  methods: {
    login(){
      this.$store.dispatch('login',{email: this.email, password: this.password})
    }
  },

  computed:{
    setCredential: () => {

    }
  }

}
</script>