<template>
  <div class="nav-app">
    <aside class="nav-cntr">
      <nav class="nav-sdbr">
        <ul>
          <li>
            <a href=""><span><b-icon icon="columns"/></span>Dashboard</a>
          </li>
          <li>
            <nuxt-link to=""><span><b-icon icon="box-seam" variant="success"/></span>Inventory</nuxt-link>
            <ul class="nav-flyt">
              <li>
                <a href="">All</a>
              </li>
              <li>
                <a href="">Pending</a>
              </li>
              <li>
                <a href="">Low</a>
              </li>
            </ul>
          </li>
          <li>
            <a href=""><span><b-icon icon="receipt"/></span>Orders</a>
            <ul class="nav-flyt">
              <li>
                <a href="">All</a>
              </li>
              <li>
                <a href="">Inbound</a>
              </li>
              <li>
                <a href="">Outbound</a>
              </li>
            </ul>
          </li>
          <li>
            <a href=""><span><b-icon icon="list-ul"/></span>History</a>
          </li>
          <li>
            <a href=""><span><b-icon icon="people"/></span>Users</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</template>
<style scoped>
span {
  margin-right: 10px;
  font-size: 1.5em;
  padding: 10px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
a:hover {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.nav-app {
  height: 100vh;
}

.nav-cntr {
  position: absolute;
  width: 16em;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: #19222a;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

.nav-sdbr {
  position: fixed;
  background-color: #19222a;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.nav-sdbr ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}

.nav-sdbr ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  width: 100%;
}

.nav-sdbr ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75em;
  padding: 1.05em 1em;
  position: relative;
  display: block;
}

.nav-sdbr ul li a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.nav-sdbr ul li a:focus {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.nav-sdbr > ul > li > a:after {
  content: "ᐅ";
  font-family: ionicons;
  font-size: .7em;
  width: 15px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 40%;
}

.nav-sdbr .nav-flyt {
  position: absolute;
  background-color: #080d11;
  z-index: 9;
  left: 3.3em;
  top: 0;
  height: 100vh;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-sdbr .nav-flyt a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.nav-sdbr ul > li:hover .nav-flyt {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

</style>